*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 65px;
}
header a{
    color: white;
    gap: 20px;
    font-size: 20px;
    text-decoration: none;
    margin: 15px;
}
.logo1 img{
    width: 60px;
    margin-right: 20px;
}
.logo2 img{
    width: 25px;
    margin-left: 15px;
}
main{
   width: 100%;
   height: 90vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 65px;
   box-sizing: border-box;
}
.mario{
    max-width: 520px;
}
.mariobros{
    width: 320px;
    margin-bottom: 25px;
}
p{
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
}
.botao{
    display: flex;
    gap: 25px;
}
.pintar1{
    padding: 25px 45px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px 5px;
    background-color: red;
    color: white;
}
.pintar1:hover{
    background-color: rgba(240, 248, 255, 0.034);
 
}
.pintar2{
    padding: 25px 45px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px 5px;
    border: 1px solid green;
    color: white;
}
.pintar2:hover{
    background-color: rgb(0, 128, 0);
}
.img{
    height: 70vh;
}
